/*******************************************************************************
 *              
 *      Author: Mehran Ranji (http://mehranranji.ir)
 *  Created on: 1-1-2017
 *     Project: Aramestan
 *       Email: Mehran.ranji@gmail.com
 *******************************************************************************/

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url(../font/IRANSansWeb_Medium.eot);
    src: url(../font/IRANSansWeb_Medium.eot?#iefix) format("embedded-opentype"), url(../font/IRANSansWeb_Medium.woff2) format("woff2"), url(../font/IRANSansWeb_Medium.woff) format("woff"), url(../font/IRANSansWeb_Medium.ttf) format("truetype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url(../font/IRANSansWeb_Light.eot);
    src: url(../font/IRANSansWeb_Light.eot?#iefix) format("embedded-opentype"), url(../font/IRANSansWeb_Light.woff2) format("woff2"), url(../font/IRANSansWeb_Light.woff) format("woff"), url(../font/IRANSansWeb_Light.ttf) format("truetype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url(../font/IRANSansWeb_UltraLight.eot);
    src: url(../font/IRANSansWeb_UltraLight.eot?#iefix) format("embedded-opentype"), url(../font/IRANSansWeb_UltraLight.woff2) format("woff2"), url(../font/IRANSansWeb_UltraLight.woff) format("woff"), url(../font/IRANSansWeb_UltraLight.ttf) format("truetype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 400;
    src: url(../font/IRANSansWeb.eot);
    src: url(../font/IRANSansWeb.eot?#iefix) format("embedded-opentype"), url(../font/IRANSansWeb.woff2) format("woff2"), url(../font/IRANSansWeb.woff) format("woff"), url(../font/IRANSansWeb.ttf) format("truetype");
}

body {
    background-color: #eee;
    background-image: url(../images/god.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: IRANSans;
    font-size: 13px;
    direction: rtl;
    position: absolute;
    height: 100%;
    width: 100%;
    color: #666;
}


/*.relative100 {
    position: relative;
    height: 100%;
    margin-bottom: 0;
}*/

.panel-login {
    margin-top: 120px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.6);
}